*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(216, 215, 215);
    display: flex;
    place-items: center;
    min-height: 100vh;
}
main{
    display: grid;
    grid-template-areas: 
    'a a b c'
    'd e e c'
    ;
    gap: 10px;
    width: 50%;
    margin: auto;
}
main div{
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}

.item-a{
    background-color: blueviolet;
    grid-area: a;
}
.item-b{
    background-color: grey;
    grid-area: b;
}
.item-c{
    background-color: white;
    grid-area: c;
}
.item-d{
    background-color: white;
    grid-area: d;
}
.item-e{
    background-color: rgb(107, 107, 107);
    grid-area: e;
}

